# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
# Pull csv file from previous exercise
city_data_df = pd.read_csv("WeatherPy-Data/cities.csv")
city_data_df.head()

,City_Id,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,longyearbyen,78.2186,15.6401,48.04,87,75,5.75,SJ,1660154421
1,1,port blair,11.6667,92.7500,81.21,83,100,14.52,IN,1660154423
2,2,yellowknife,62.4560,-114.3525,59.56,82,100,13.00,CA,1660154426
3,3,jamestown,42.0970,-79.2353,78.03,46,24,3.00,US,1660154341
4,4,saint-philippe,-21.3585,55.7679,65.79,77,65,16.98,RE,1660154165

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
# Configure gmaps
gmaps.configure(api_key=g_key)
print(f"Gkey:{g_key}")

Gkey:AIzaSyBQSvMRR8p75Xv9wCORJ4Cwxdn_3P9vtj0

In [20]:
# Create heatmap of humidity
locations = city_data_df[["Latitude", "Longitude"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()

# Add the heatmap layer to the figure
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
# Create new dataframe that has cities with temperture between 70-80, wind speed less than 10 and cloudiness is 0

corrected_city_data_df = city_data_df.loc[
    (city_data_df["Max Temp"] > 70) & (city_data_df["Max Temp"] < 80) & \
    (city_data_df["Wind Speed"] < 10) & \
    (city_data_df["Cloudiness"] == 0)
].dropna()
corrected_city_data_df.head(20)

,City_Id,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
91,91,beira,-19.8436,34.8389,71.69,88,0,8.05,MZ,1660154634
110,110,faanui,-16.4833,-151.7500,76.44,73,0,5.37,PF,1660154700
151,151,vanderhoof,54.0166,-124.0198,77.16,38,0,1.88,CA,1660154817
162,162,nurota,40.5614,65.6886,75.90,25,0,9.78,UZ,1660154847
328,328,shitanjing,39.2342,106.3439,70.48,78,0,3.65,CN,1660156742
385,385,painesville,41.7245,-81.2457,79.65,58,0,5.75,US,1660156901
392,392,boyuibe,-20.4167,-63.2833,71.49,19,0,7.11,BO,1660156921
432,432,maun,-19.9833,23.4167,73.36,12,0,5.75,BW,1660157030
447,447,balykshi,47.0667,51.8667,78.80,29,0,8.95,KZ,1660157067
457,457,pirgos,35.1167,25.7178,79.63,60,0,7.43,GR,1660157093
477,477,tiznit,29.5833,-9.5000,72.77,58,0,5.37,MA,1660157145
491,491,sinazongwe,-17.2614,27.4618,70.25,38,0,2.75,ZM,1660157179
530,530,akdepe,42.0551,59.3788,78.89,37,0,9.37,TM,1660157278

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [23]:
hotel_data_df = corrected_city_data_df[["City", "Country", "Latitude", "Longitude"]]
hotel_data_df["Hotel Name"] = ""
hotel_data_df

/var/folders/k3/29crq3tx23v635hzwr10k1sc0000gn/T/ipykernel_27793/1027900662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_data_df["Hotel Name"] = ""

            City Country  Latitude  Longitude Hotel Name
91         beira      MZ  -19.8436    34.8389
110       faanui      PF  -16.4833  -151.7500
151   vanderhoof      CA   54.0166  -124.0198
162       nurota      UZ   40.5614    65.6886
328   shitanjing      CN   39.2342   106.3439
385  painesville      US   41.7245   -81.2457
392      boyuibe      BO  -20.4167   -63.2833
432         maun      BW  -19.9833    23.4167
447     balykshi      KZ   47.0667    51.8667
457       pirgos      GR   35.1167    25.7178
477       tiznit      MA   29.5833    -9.5000
491   sinazongwe      ZM  -17.2614    27.4618
530       akdepe      TM   42.0551    59.3788

In [57]:
#### Configuration for hotel search####
# Define parameters
parameters={
    "radius":5000,
    "types":"lodging",
    "key":g_key   
}
len(hotel_data_df)

# Loop through 13 ideal cities and get first hit of the hotel based on the search above 
for index, row in hotel_data_df.iterrows():
    # Get latitude and longitude as local variables
    Latitude = row["Latitude"]
    Longitude = row["Longitude"]
    
    # Concatenate to get a search string
    parameters["location"] = f"{Latitude},{Longitude}"
    
    # Get Google base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request for each location (Latitude, Longitude)
    address_json = requests.get(base_url, params=parameters).json()
      
    try:
        firstHotel = address_json["results"][0]["name"]
        hotel_data_df.loc[index, "Hotel Name"] = firstHotel
        
    except:
        # log exception
        print(f"error finding hotel for {row['City']}...NO PLACE TO STAY HERE...")
        
hotel_data_df

error finding hotel for tiznit...NO PLACE TO STAY HERE...
error finding hotel for akdepe...NO PLACE TO STAY HERE...

,City,Country,Latitude,Longitude,Hotel Name
91,beira,MZ,-19.8436,34.8389,Beira Terrace Hotel
110,faanui,PF,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
151,vanderhoof,CA,54.0166,-124.0198,Vanderhoof Inn
162,nurota,UZ,40.5614,65.6886,Guest House Ruslan Nurata & Tours
328,shitanjing,CN,39.2342,106.3439,Yingbin Hotel
385,painesville,US,41.7245,-81.2457,Hampton Inn & Suites Cleveland-Mentor
392,boyuibe,BO,-20.4167,-63.2833,Residencial Eluzai
432,maun,BW,-19.9833,23.4167,Enviro Villa
447,balykshi,KZ,47.0667,51.8667,Гостиница Golden Rose
457,pirgos,GR,35.1167,25.7178,Elpida Village
477,tiznit,MA,29.5833,-9.5000,
491,sinazongwe,ZM,-17.2614,27.4618,Lakeview Lodge
530,akdepe,TM,42.0551,59.3788,

In [58]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_data_df.iterrows()]
locations = hotel_data_df[["Latitude", "Longitude"]]

In [59]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))